@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------------DEFAULT SETUP AREA-----------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    background: #e5e7eb;
    position: relative;
    display: flex;
}

.clickable{
    cursor: pointer;
}
/*-----------------------MENU AREA-----------------------*/
#menu{
    background: #111827;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .logo img{
    width: 40px;
    margin-right: 15px;
}

#menu .items{
    margin-top: 40px;
}

#menu .items div{
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items div:hover{
    background: #253047;
    cursor: pointer;
}

#menu .items div.activing{
    border-left: 4px solid #fff;
}

#menu .items div i{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items div:hover i,
#menu .items div:hover a{
    color: #f3f4f6;
}

#menu .items div a{
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition: 0.3s ease;
}


/*-----------------------INTERFACE AREA-----------------------*/
#interface{
    width: calc(100% - 250px);
    margin-left: 250px;
    position: relative;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
    width: calc(100% - 250px);
}


#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .n1 span{
    font-size: 23px;
}

#interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-btn{
    display: none;
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
}

.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box{
    background: #fff;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
}

.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}

.values .val-box:nth-child(1) i{
    background: #7b74ec;
}

.values .val-box:nth-child(2) i{
    background: #5c8af0;
}

.values .val-box:nth-child(3) i{
    background: #e45d99;
}

.values .val-box:nth-child(4) i{
    background: #74daec;
}

.values .val-box h3{
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span{
    font-size: 15px;
    color: #828997;
}

.values .val-box a{
    text-decoration: none;
}

/*-----------------------BOARD AREA-----------------------*/

.board{
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5{
    font-weight: 600;
    font-size: 14px;
}

.board p{
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}

.board .people{

    text-align: start;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}

thead tr th{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #f9fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.active p{
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

/*-----------------------LOGIN AREA-----------------------*/

.login-area{
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.login-box h1{
    margin-top: 15px;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-size: 30px;
}

.login-box form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .text-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s ease;
}

.text-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s ease;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.text-field input:focus ~ span,
.text-field input:valid ~ span{
    width: 100%;
}

.login-btn{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 25px;
}

.login-btn:hover{
    border-color: #2691d9;
    transition: 0.5s ease;
}

/*-----------------------CART ADD AREA-----------------------*/

.boddyy{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;    
    padding: 10px;
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input,
.user-details .input-box select{
    height: 36px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 300ms ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}

.container form .note{
    height: 75px;
    margin-bottom: 5px;
}


.container form .button{
    height: 35px;
    margin: 25px 0;
}

.container form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.container form .note textarea{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
}

.container form .note textarea:focus,
.container form .note textarea:valid{
    border-color: #9b59b6;
}

/*-----------------------ALERT AREA-----------------------*/

.addSuccess{
    color: rgb(2, 230, 2);
    margin-bottom: 10px;
    position: absolute;
}
.addError{
    margin-bottom: 10px;
    color: red;
    position: absolute;
}

